
body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.space {
    position: fixed;
    width: 80vw;
    height: 100vh;
    margin: auto;
    background-image: url("../img/space.png");
    overflow: hidden;
}

.planet-area {
    position: absolute;
    bottom: 0;
    left: 0;
}

.planet {
    position: absolute;
    transform: scale(.6);
    bottom: -12.5vw;
    left: -12.5vw;
    z-index: 2;
}

.rocket {
    position: absolute;
    transform: rotate(25deg) scale(.5);
    z-index: 1;
    bottom: 15vh;
    left: 10vh;
}

.control-panel {
    position: absolute;
    background-color: #252424;
    width: 560px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    bottom: 10%;
    left: 40vw;
}

.check-buttons {
    /*margin-top: 20px;*/
    padding: 4%;
    display: flex;
    justify-content: space-around;
    /*border: 1px solid firebrick;*/


}

.levers {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

input[type=button][value=Launch] {
    color: #000;
    font-size: 1.1em;
    cursor: pointer;
    bottom: 0;
    margin-top: 10px;
}


input[type=range][orient=vertical] {
    /*writing-mode: bt-lr; !* IE *!*/
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 28px;
    height: 155px;
    /*padding: 0px 30px;*/
}
